packages: [
  "language-common-lisp"
  "language-docker"
  "language-elm"
  "language-groovy"
  "language-javascript-jsx"
  "language-lisp"
  "language-puppet"
  "language-scala"
  "language-terraform"
  "linter"
  "linter-clojure"
  "linter-docker"
  "linter-elm-make"
  "linter-js-standard-jsx"
  "linter-js-yaml"
  "linter-puppet"
  "lisp-paredit"
  "magic-reflow"
  "package-sync"
  "pretty-json"
  "sass-autocompile"
  "sort-lines"
  "terraform-fmt"
  "url-encode"
]
